# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\RAYA_AMAN\Instant Topup Project\rayaamaninstatnttopupservicebundle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
